@{
    ViewBag.Title = "Home - Choose which tool you would like to use.";
}

<h2>@ViewBag.Title</h2>

<ul class="no-style">
    <li><a href="/ifs/manualcontrol/">IFS Exercise - Manual control</a></li>
    <li><a href="/ifs/setpositions/">IFS Exercise - Set positions</a></li>
</ul>
